<!-- <h1>Students#new</h1>
<p>Find me in app/views/students/new.html.erb</p>
 -->

 <div class="container">
  <h3> Student Details</h3>
 </div> 

  
 <%= simple_form_for @student do |form| %>
  <%= form.input :name, label: "student name" %>
  <%= form.input :age, label: "age" %>
  <%= form.input :lastname, label: "lastname" %>
  <%= form.button :submit, "submit" %>
<% end %>